body {
  font-family: sans-serif Arial;
  display: flex;
  flex-direction: column;
  background: rgb(197, 246, 255);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#search-select {
  width: 21px;
}

.navbar-theme {

  background: linear-gradient(to left, #f9d1d4, #d3cdec);
}

nav {
    height:75px;
    background: linear-gradient(to left, #d1e7f9, #ecdecd);
}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.modal-body p {
  word-wrap: break-word;
}

#profile {
  height: 200px;
  width: 200px
}

.container {
  align-content:flex-start; 
  flex: 1 1 auto;
}


/*Footer Styles*/

.footer {
  position:absolute;
  width: 100%;
  bottom: 0;

  height: 2.5rem;
  background-color: #00A8E0;
  text-align: center;

}

.carousel-item img {
  margin: auto;

}

.carousel {
  position: relative

}

