body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  background: url('/static/images/rainbow-sm.png') right bottom no-repeat, linear-gradient(0deg, #3bdbff, #4edfff, #b6faff,#d2f7fa,#d2f7fa);
  z-index: -1;
}



/* linear-gradient(0deg, #3bdbff, #4edfff, #b6faff,#d2f7fa,#d2f7fa) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee', cursive;
  color: #ffb56a;
  text-shadow:  -3px 3px #101780, -1px 0 #101780, 0 1px #101780, 1px 0 #101780, 0 -1px #101780
}

.pod-info-result {
  max-width: 900px; 
  border-bottom: 6px solid;
  border-left: 6px solid;
  border-top: 2px solid;
  border-right: 2px solid;
  border-color: rgba(16, 23, 128, .9);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.pod-card {
  border-bottom: 6px solid;
  border-left: 6px solid;
  border-top: 2px solid;
  border-right: 2px solid;
  border-color: rgba(16, 23, 128, .9);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0%;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#body-header {
  color: #101780;
  text-shadow: none;
}

#genre-text {
  color: #101780;
  text-shadow: none;
}

#genre-text:hover {
  color:#f17900

}

.pod-details {
  color:rgba(16, 23, 128, .7);
  font-size: 14px;
  font-weight: bold;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#search-select {
  width: 21px;
}

nav {
    background: rgba(255, 180, 106, 0.89);
    
}

.nav-text {
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Bungee', cursive;
  float: center;
  letter-spacing: 1px;
  color:  #dcf8ff;
  font-weight: bold;
  font-size: 16px;
  text-shadow: -3px 3px #101780, -1px 0 #101780, 0 1px #101780, 1px 0 #101780, 0 -1px #101780
}

.search-type-select {
  text-decoration:none;
  text-transform: uppercase;
  font-family: 'Bungee', cursive;
  float: center;
  letter-spacing: 1px;
  color:  #101780;
  font-weight: bold;
  font-size: 16px;
}

.navbar-brand {
  font-family: 'Bungee Shade', cursive;
}

.nav-text:hover {
  color: #3bd8ff;
  background-color: rgba(255, 180, 106, 0.11);

}

.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}

.modal-body p {
  word-wrap: break-word;
}

#profile {
  height: 200px;
  width: 200px
}

.container {
  align-content:flex-start; 
  flex: 1 1 auto;
}


/*Footer Styles*/

.footer {
  position:absolute;
  width: 100%;
  bottom: 0;
  padding-top: 10;
  height: 120px;
  background: linear-gradient(0deg, #ffbe7d, #3bdbff );
  text-align: center;

}

.carousel-item img {
  margin: auto;

}

.carousel {
  position: relative

}

.button:focus {
  outline: none;
}

.button {
  text-transform: uppercase;
  float: center;
  width:130px;
  height: 75px;
  display: block;
  background: none;
  position: relative;
  z-index: 1;
  letter-spacing: 1px;
  color: rgb(220, 248, 255);
  font-family: 'Bungee', cursive;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  text-shadow: -3px 3px #101780, -1px 0 #101780, 0 1px #101780, 1px 0 #101780, 0 -1px #101780
}

.button::after {
  content: "";
  background-color: transparent;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  opacity: 0;
  z-index: -1;
}

.button:hover::after {
  opacity: 1;
  background-color: rgba(255, 153, 37, 0.699);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button,
.button:after {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.button:hover {
  border: 0;
  color: #4edfff;
}
