body {
  font-family: sans-serif Arial;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#search-select {
    width: 21px;
}

nav {
    height:75px;
    background-color: rgb(161, 225, 255);
}

.modal-body p {
  word-wrap: break-word;
}

#profile {
  height: 200px;
  width: 200px
}

.container {
  width: 200px;
  height: 200px;
  align-content:flex-start; 
  flex: 1 1 auto;
}

/*Footer Styles*/

.footer {
  position:absolute;
  width: 100%;
  bottom: 0;

  height: 2.5rem;
  background-color: #00A8E0;
  text-align: center;

}

/* End Footer */

/* Navbar */

/* End Navbar */