{% extends 'base.html' %}

{% block title %}Home -{% endblock %}

{% block header %}Podcast Review Site{% endblock %}

{% block content %}
<header>
    <!-- Jumbotron -->
    <div class="p-5 text-center ">
      <h1 class="mb-3">Sign Up Now!</h1>
      <h4 class="mb-3">Have fun</h4>
      <a class="btn btn-primary" href="/signup" role="button">Sign Up</a>
    </div>
    <!-- Jumbotron -->
</header>



<section class="container mt-4">
<div class="card" style="width: 260px; height: 400px;">
  <div id="carouselControls" class="carousel slide" data-bs-interval="1800" data-bs-ride="carousel" style="width: 200px;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="/podcast/{{ first_pod.podcast_id }}">
          <img src="{{ first_pod.cover }}" style="width: 200px; height: 200px" class="d-block" alt="..."/>
        </a>
      </div>

      {% for podcast in podcasts %}
      <div class="carousel-item">
        <a href="/podcast/{{ podcast.podcast_id }}">
          <img src="{{ podcast.cover }}" style = "width: 200px; height: 200px; align-self: center;" class="d-block" alt="..."/>
        </a>
          </div>
      {% endfor %}

    </div>
  </div>
</div>
</section>
{% endblock %}