{% extends 'base.html' %}

{% block title %}"{{ podcast['title'] }} -"{% endblock %}

{% block header %}Podcast Review Site{% endblock %}

{% block content %}
<section class="container mt-4 align-items-center" style="max-width: 1200px;">

<div class="card m-4 pod-card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-auto" style="float:left">
                <img src="{{ podcast['thumbnail'] }}">
            </div>
            <div class="col">
                <h3 id="body-header" >{{ podcast['title'] }}</h3>
                <table class="table">
                    <tbody>
                        <tr>
                        <th scope="row"></th>
                            <td class="pod-details align-middle">Language: {{ podcast['language'] }}</td>
                            <td class="pod-details align-middle">Explicit Content: {{ explicit }}</td>
                            <td class="pod-details align-middle">Total Episodes: {{ podcast['total_episodes'] }}</td>
                            <td class="pod-details align-middle"><a style="text-decoration: none; color: rgba(16, 23, 128, .7);" href="{{ podcast['website'] }}">Website</a></td>
                            {% if session %}
                            <td class="pod-details">
                                <button class="btn pod-details dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Add To Collection
                                </button>

                                <div class="dropdown-menu">
                                    <form class="px-4 py-3" action="/addtocollection" method="POST">
                                        <div class="form-group">
                                            <label for="addToCollection">Select A Collection:</label>
                                            <select class="form-control" name="collection-id" id="exampleFormControlSelect1">
                                                {% for collection_id, name in collections.items() %}
                                                    <option value="{{ collection_id }}">{{ name }}</option>
                                                {% endfor %} 
                                            </select>             
                                            <input type="hidden" value="{{ podcast.id }}" name="podcast-id">
                                            <input type="hidden" value="{{ podcast['title'] }}" name="podcast-title">
                                            <input type="hidden" value="{{ podcast['thumbnail'] }}" name="podcast-cover">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                    <form class="px-4 py-3" action="/addtonewcollection" method="POST">
                                        <div class="form-group">
                                            <label for="addCollection">Add To New Collection:</label>
                                            <input class="form-control" input-type="text" name="new-collection-name" placeholder="New Collection Name">
                                            <input type="hidden" value="{{ podcast.id }}" name="podcast-id">
                                            <input type="hidden" value="{{ podcast['title'] }}" name="podcast-title">
                                            <input type="hidden" value="{{ session['email'] }}" name="user-email">
                                            <input type="hidden" value="{{ podcast['thumbnail'] }}" name="podcast-cover">
                                            <button type="submit" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td colspan="10">
                            {{ podcast['description'] }} 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex">
        <div class="col-7 me-4">
            <h4 style="text-align: center;">Recent Reviews:</h4>
        </div>
        <div class="col-4 me-4 ms-auto">
            <h4 style="text-align: center;">Recent Episodes:</h4>
        </div>

    <div class="row d-flex">
        <div class="col-7 m-4 mt-1 pod-card" style="height:500px;overflow:scroll">
        {% if reviews %}
            {% for review in reviews %}
            <div class="row m-2 mt-4">
                    <a class="nav-text" href="#" id="navbarDropdown" role="button">
                        <img src="{{ review.user.profile_picture }}" width="40" height="40" class="d-inline-block align-text-center rounded-circle">      
                            {{ review.user.username }} said:
                    </a>
                    <div>
                        {{ review.review_text }}
                    </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Add the first review!</p>
        {% endif %}
        </div>

        <div class="col-4 mt-1 ms-auto pod-card" style="height:500px;overflow:scroll">
            {% for ep in podcast['episodes'] %}
                <div class="row m-2 mt-4">
                <div>
                    <h5 id="body-header" >{{ ep['title'] }}</h5>
                </div>
                <div> 
                    <audio controls src="{{ep['audio']}}">hehe</audio>
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>  

<div class="container-fluid">
    <div class="row d-flex">
        <h5>Add Your Own Review:</h5>
            <form action="/review" method="POST">
                <input type="hidden" value="{{ podcast.id }}" name="podcast-id">
                <input type="hidden" value="{{ podcast['thumbnail'] }}" name="podcast-cover">
                <input type="hidden" value="{{ podcast['title'] }}" name="podcast-title">
                <input type="hidden" value="{{ session['email']| default('no user') }}" name="user-email">
                <div class="row justify-content-start">
                    <div class="col-1 d-inline-block align-text-center">
                        <h6 class="align-middle" id="body-header"> Score:</h6>
                    </div>
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="score" id="inlineRadio1" value="5">
                            <label class="form-check-label" for="inlineRadio1">5</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="score" id="inlineRadio2" value="4">
                            <label class="form-check-label" for="inlineRadio2">4</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="score" id="inlineRadio3" value="3">
                            <label class="form-check-label" for="inlineRadio3">3</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="score" id="inlineRadio2" value="2">
                            <label class="form-check-label" for="inlineRadio2">2</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="score" id="inlineRadio3" value="1">
                            <label class="form-check-label" for="inlineRadio3">1</label>
                          </div>
                    </div>
                </div>
                <div class="col-7 pod-card">
                    <textarea class="col-7 w-100" style="height: 200px; background:rgba(255, 255, 255, 0.411);" name="review-text" placeholder="Add Your Review!"></textarea>
                </div>
            <input type="submit" href="/review">
            </form>
    </div>
</div>
</section>

{% endblock %}