{% extends 'base.html' %}

{% block title %}Podder{% endblock %}

{% block header %}Podcast Review Site{% endblock %}

{% block content %}
    <h3>Podcast Recommendations:</h3>

    {% for podcast in result %}
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">            
                <div style="float:left">
                    <img src="{{ podcast['thumbnail'] }}">            
                </div>
                <div style="display: inline">
                    <a href="/podcast/{{ podcast['id'] }}">
                        <h4>{{ podcast['title']}}</h4>
                    </a>
                    {{ podcast['description']}}    
                </div>
            </li>
        </ul>
    {% endfor %}

{% endblock %}