{% extends 'base.html' %}

{% block title %}Podder{% endblock %}

{% block header %}Podcast Review Site{% endblock %}

{% block content %}
    <h3>Podcast Recommendations:</h3>

    {% for podcast in result %}
        <li class="list-group-item list-group-item-action">
            <div style="float:left">
                <img src="{{ podcast['thumbnail'] }}">            
            </div>

            <div style="display: inline">
                <a href="/podcast/{{ podcast['id'] }}">
                    <h4>{{ podcast['title']}}</h4>
                </a>
                {{ podcast['description']}}    
            </div>
        </li>
    {% endfor %}

{% endblock %}