{% extends 'base.html' %}

{% block title %}Podder{% endblock %}

{% block header %}Podcast Review Site{% endblock %}

{% block content %}
<div>
    <h4>Hello, {{ user }}!</h4>
    <div><h5>Here are your recent reviews:</h5></div>

    {% for review in reviews %}
        <li>
            {{ review.podcast.title }}
            Score: {{ review.score }}
            <div>
                {{ review.review_text }}
            </div>
        </li>
    {% endfor %}
    <div><h5>Here are your Collections:</h5></div>
    {% for collection in collections %}

        {{ collection.name }}

        {% for pod in collections_details[collection.name] %}
            {{ pod.title }}
        
        {% endfor %}
        
    {% endfor %}
</div>

{% endblock %}